## Exercise 1: Create a function with a default argument
Write a program to create a function show_employee() using the following conditions.
It should accept the employeeâ€™s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary
Given:
showEmployee("Ben", 12000)
showEmployee("Jessa")
Expected output:
Name: Ben salary: 12000
Name: Jessa salary: 9000

In [1]:
def show_employee(name,sallary=9000):
  output = "Name: {}, Salary: {}".format(name,sallary)
  return output

print(show_employee('Afeef',36000000))
print(show_employee('Arathi',72000000))
print(show_employee('Jessa'))

Name: Afeef, Salary: 36000000
Name: Arathi, Salary: 72000000
Name: Jessa, Salary: 9000

## Exercise 2: Create an inner function to calculate the addition in the following way
Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [2]:
def outer(a,b):
  def inner():
    return a + b

  return inner()+5


# Test the program
print(outer(2,6))

13

## Exercise 3: Generate a Python list of all the even numbers between 4 to 30

In [3]:
def generateEvenNums(start=0,end=100):
  start = int((start+1)//2*2)
  l = [a  for a in range(start,end+1,2)]
  return l

print(generateEvenNums(4,30))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

## Exercise 4: Lambda Function to Check if value is in a List
Given a list, the task is to write a Python program to check if the value exists in the list or not using the lambda function.


Input  : L = [1, 2, 3, 4, 5]
          element = 4
Output :  Element is Present in the list

Input :  L = [1, 2, 3, 4, 5]
          element = 8
Output :  Element is NOT Present in the list

In [4]:
isInList = lambda x,l:x in l

listOfNums = [1,2,3,4,5,6,7,8]

if isInList(52,listOfNums):
  print("Element is Present in the list")
else:
  print("Element is NOT Present in the list")

Element is NOT Present in the list

## Exercise 5: Sort list of tuples with their sum
Sort the points based on their sum of elements in the tuples

points = [(1, 2), (5, 3), (0, 7), (3, 1)]

In [5]:
points = [(1,2),(5,3),(0,7),(3,1)]

sorted(points,key=lambda x:x[0]+x[1])

[(1, 2), (3, 1), (0, 7), (5, 3)]

## Exercise 6 :
Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [6]:
def getAllEvenDigitNumbers(start,end):
  return [n for n in range(start,end+1) if not any(map(lambda x: str(x) in str(n) , [1,3,5,7,9]))]

getAllEvenDigitNumbers(1000,3000)

[2000,
 2002,
 2004,
 2006,
 2008,
 2020,
 2022,
 2024,
 2026,
 2028,
 2040,
 2042,
 2044,
 2046,
 2048,
 2060,
 2062,
 2064,
 2066,
 2068,
 2080,
 2082,
 2084,
 2086,
 2088,
 2200,
 2202,
 2204,
 2206,
 2208,
 2220,
 2222,
 2224,
 2226,
 2228,
 2240,
 2242,
 2244,
 2246,
 2248,
 2260,
 2262,
 2264,
 2266,
 2268,
 2280,
 2282,
 2284,
 2286,
 2288,
 2400,
 2402,
 2404,
 2406,
 2408,
 2420,
 2422,
 2424,
 2426,
 2428,
 2440,
 2442,
 2444,
 2446,
 2448,
 2460,
 2462,
 2464,
 2466,
 2468,
 2480,
 2482,
 2484,
 2486,
 2488,
 2600,
 2602,
 2604,
 2606,
 2608,
 2620,
 2622,
 2624,
 2626,
 2628,
 2640,
 2642,
 2644,
 2646,
 2648,
 2660,
 2662,
 2664,
 2666,
 2668,
 2680,
 2682,
 2684,
 2686,
 2688,
 2800,
 2802,
 2804,
 2806,
 2808,
 2820,
 2822,
 2824,
 2826,
 2828,
 2840,
 2842,
 2844,
 2846,
 2848,
 2860,
 2862,
 2864,
 2866,
 2868,
 2880,
 2882,
 2884,
 2886,
 2888]

## Exercise 7 :
Write a python function that accepts a sentence and calculate and return the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

In [7]:
def calculateLettersAndDigits(s):
  letter_count = 0
  digit_count = 0

  for c in s:
    if c.isalpha():
      letter_count += 1
    if c.isdigit():
      digit_count += 1

  return "LETTERS {}, DIGITS {}".format(letter_count,digit_count)

print(calculateLettersAndDigits('hello world! 123'))

LETTERS 10, DIGITS 3

## Exercise 8  MAP:
Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [8]:
def eliminateDuplicateAndTransform(sentence,toCase):
  # Eliminate the duplicate letters
  new_string = ''

  for char in sentence:
    if char not in new_string:
      new_string += char

  # Transfrom the sequence based of the case provided
  if toCase == "UPPER":
    return new_string.upper()
  elif toCase == "LOWER":
    return new_string.lower()
  else:
    return new_string.capitalize()


eliminateDuplicateAndTransform('orunal oruthan vannath kanduvo?','LOWERs')



## Using map function
def transform_and_deduplicate(sequence):
  """
  Converts characters to uppercase and lowercase, eliminates duplicates, and preserves order.

  Args:
    sequence: The input sequence of characters.

  Returns:
    A list containing the transformed and deduplicated characters in their original order.
  """

  unique_chars = set()
  transformed_chars = []

  for char in sequence:
    uppercase = char.upper()  # Convert to uppercase
    lowercase = char.lower()  # Convert to lowercase

    for transformed_char in (uppercase, lowercase):
      if transformed_char not in unique_chars:  # Check for duplicates
        unique_chars.add(transformed_char)
        transformed_chars.append(transformed_char)

  return transformed_chars

# Example usage
sequence = "Hello, WoRlD!"
result = list(map(transform_and_deduplicate, sequence))  # Apply to each character
print("".join("".join(r) for r in result))  # Output: hHeLlLoOo,WwOoRrLlDd!

HhEeLlLlOo, WwOoRrLlDd!

## Exercise 9 MAP:
 Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [9]:
list_one = [2,34,21,3,5,123,42,413,23,89]
list_two = [234,25,2,32,342,5,234,234,23,4]



def sumAndDiff(a):
  return (a[0]+a[1],abs(a[0]-a[1]))


listOfSumsAndDiffs = list(map(sumAndDiff,zip(list_one,list_two)))

print(listOfSumsAndDiffs)


# Another way

def element_wise_operation(list1,list2):
  sums = list(map(lambda x,y:x+y, list1,list2))
  diffs = list(map(lambda x,y:x-y, list1,list2))

  return sums,diffs


list1 = [1,2,4,2,1,4]
list2 = [13,23,21,43,23,45]

sums,diffs = element_wise_operation(list1,list2)

print(f"Sum of two lists are : {sums}")
print(f"Difference of two lists are : {diffs}")

[(236, 232), (59, 9), (23, 19), (35, 29), (347, 337), (128, 118), (276, 192), (647, 179), (46, 0), (93, 85)]
Sum of two lists are : [14, 25, 25, 45, 24, 49]
Difference of two lists are : [-12, -21, -17, -41, -22, -41]

## Exercise 10 Filter:
Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.
Original Dictionary:
{'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
Height> 6ft and Weight> 70kg:
{'Cierra Vega': (6.2, 71)}

In [10]:
peoples_height_and_weight = {
    'Cierra Vega': (6.2, 71),
    'Alden Cantrell': (5.9, 65),
    'Kierra Gentry': (6.0, 68),
    'Pierre Cox': (5.8, 66)
}

# Height> 6ft and Weight> 70kg: {'Cierra Vega': (6.2, 71)}

height_threshold = 6.0
weight_threshold = 70


filteredPersons = dict(filter(lambda x:x[1][0]>height_threshold and x[1][1] > weight_threshold,peoples_height_and_weight.items()))

print(filteredPersons)

{'Cierra Vega': (6.2, 71)}

## Exercise 11 Filter:
Write a Python program to remove all elements from a given list present in another list using lambda.
Original lists:
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2: [2, 4, 6, 8]
Remove all elements from 'list1' present in 'list2:
[1, 3, 5, 7, 9, 10]

In [11]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]

filteredList = list(filter(lambda x:x not in list2,list1))

filteredList

[1, 3, 5, 7, 9, 10]

## Exercise 12 Reduce:


Write a Python program to calculate the product of a given list of numbers using lambda.
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Product of the said list numbers:
3628800

In [12]:
from functools import reduce

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Product of the said list numbers: 3628800

productOfList = reduce(lambda a,b:a*b,list1)

productOfList

3628800

## Exercise 13 Reduce:


 Write a Python program to multiply all the numbers in a given list using lambda.
Original list:
[4, 3, 2, 2, -1, 18]
Mmultiply all the numbers of the said list: -864

In [13]:
listq = [4,3,2,2,-1,18]

product = reduce(lambda a,b:a*b, listq)

product

-864

## Exercise 14 Reduce:


Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.
Original Tuple:
((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
Average value of the numbers of the said tuple of tuples:
(30.5, 34.25, 27.0)

In [14]:
tuple_of_tuples =  ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

transposed = list(zip(*tuple_of_tuples))

averages = tuple(
    map(lambda x:reduce(lambda a,b : a+b,x)/len(x),transposed)
)

averages

(30.5, 34.25, 27.0)

## Exercise 15:


Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.
Original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
Sort the said mixed list of integers and strings:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [15]:
float('inf')

inf

In [16]:
mixedList = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

# Define a custom sorting key function
def sort_key(item):
    # print(float('inf'))
    if isinstance(item, str):
      return float('inf')  # Place strings after numbers
    return item

# Sort the list using the custom key function
sorted_list = sorted(mixedList, key=sort_key)

print(sorted_list)

[1, 10, 12, 19, 'red', 'green', 'blue', 'white', 'green']

## Exercise 16:
Write a Python program to count the occurrences of items in a given list using lambda.
Original list:
[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
Count the occurrences of the items in the said list:
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [17]:
list1 = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]


count_dict = {x:list1.count(x) for x in list1}

print(count_dict)

# Using Lambda

count = dict(map(lambda x:(x,list1.count(x)),set(list1)))
print(count)

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}
{0: 2, 1: 1, 2: 2, 3: 4, 4: 2, 5: 3, 8: 2}

## Exercise 17:


Write a Python program to remove None values from a given list using the lambda function.
Original list:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
Remove None value from the said list:
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [18]:
list1 = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
# Remove None value from the said list: [12, 0, 23, -55, 234, 89, 0, 6, -12]

clearedList = list(filter(lambda x:x is not None,list1))

print(clearedList)

[12, 0, 23, -55, 234, 89, 0, 6, -12]