1. Write a Python program to sum all the items in a list.
2. Write a Python program to get the largest number from a list.
3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
4. Write a Python program to remove duplicates from a list.
5. Write a Python program to check if a list is empty or not.
6. Write a Python program to filter the list if the length of the character is < 4
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']
7.Write a Python program to find the second largest number in a list.
8. Write a Python program to reverse a list at a specific location.
9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.
10. Write a Python a program to find the union and intersection of two lists.
11.Write a Python script to sort (ascending and descending) a dictionary by value
12. Write a Python script to check whether a given key already exists in a dictionary.
13.Write a Python program to sum all the values in a dictionary.
14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}
15.Write a Python program to sort a given dictionary by key.
16.  Write a Python program to create a dictionary from a string.
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}
17. Write a Python program to get the top three items in a shop.
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Expected Output:
item4 55
item1 45.5
item3 41.3

1. Write a Python program to sum all the items in a list.

In [1]:
l = [2,3,4,51,2,42,234,2,1235,123,114,123,42,13]

sum = 0
for i in l:
  sum += i

print(sum)

1990

2. Write a Python program to get the largest number from a list.

In [2]:
print(max(l))

1235

3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [3]:
l = ['abc', 'xyz', 'aba', '122551']

count = 0

for i in l:
  if len(i) >= 2 and i[-1] == i[0]:
    count += 1

print(count)

2

4. Write a Python program to remove duplicates from a list.

In [4]:
l = ['a','a','a','b']

print(list(set(l)))

['b', 'a']

5. Write a Python program to check if a list is empty or not.

In [5]:
l = []

print("Is the list is empty : {}".format(len(l) == 0))

Is the list is empty : True

6. Write a Python program to filter the list if the length of the character is < 4
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']

In [6]:
def lessThanThree(s):
  return len(s) <4

l = ['abc','pqr','xyz', '11234']

nl = filter(lessThanThree,l)

print(list(nl))

['abc', 'pqr', 'xyz']

7.Write a Python program to find the second largest number in a list.

In [7]:
l = [1,3,42,2,4,2,4,5,2,3,55]

l.sort()

print(l[-2])

42

8. Write a Python program to reverse a list at a specific location.

In [8]:
l = [1,2,4,5,67,8,9,0,100]

location = int(input("Enter an location index to reverse : "))

f = l[:location]
l = l[location:]

l.reverse()
f.extend(l)

print(f)

Enter an location index to reverse : 56
[1, 2, 4, 5, 67, 8, 9, 0, 100]

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [9]:
ps = "abcba"

def f(s):
  i = 0
  while i <= (len(s)/2):
    if s[i] == s[-1*(i+1)]:
      i += 1
    else:
      return False
  return True

print(f(ps))

True

10. Write a Python a program to find the union and intersection of two lists.

In [10]:
l1 = [1,2,3,4,5,6]
l2 = [4,6,8,0]

u = list(set(l1) | set(l2))
i = list(set(l1) & set(l2))

print("Union of both lists are {}".format(u))
print("Intersection of both lists are {}".format(i))

Union of both lists are [0, 1, 2, 3, 4, 5, 6, 8]
Intersection of both lists are [4, 6]

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [11]:

d =  {"a":2,"e":1,"c":23,"d":29}

d = {k:v for k,v in sorted(d.items(),key = lambda x:x[1])}

d

{'e': 1, 'a': 2, 'c': 23, 'd': 29}

12. Write a Python script to check whether a given key already exists in a dictionary.

In [12]:
d =  {"a":2,"e":1,"c":23,"d":29}

key = str(input('Enter the key to check : '))

print("Is {} present in {} : {}".format(key,d,key in d))

Enter the key to check : 23
Is 23 present in {'a': 2, 'e': 1, 'c': 23, 'd': 29} : False

13.Write a Python program to sum all the values in a dictionary.

In [14]:
su = 0

for k,v in d.items():
  su += v

print(su)

# One line solution
# print(sum([v for k,v in d.items()]))

55

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}

In [17]:
enteredNumber = int(input('Enter a number : '))

if enteredNumber < 0 or enteredNumber > 10:
  print('Opperation not supported')
else:
  squares = {i:i*i for i in range(1,1+enteredNumber)}
  print(squares)

Enter a number : 9
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

15.Write a Python program to sort a given dictionary by key.

In [18]:
sortedDictByKey = dict(sorted(squares.items()))

print(sortedDictByKey)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

16.  Write a Python program to create a dictionary from a string.
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

In [19]:
s = 'learnPython'

d = {c:s.count(c) for c in set(s)}

print(d)

{'P': 1, 'l': 1, 'r': 1, 'n': 2, 'h': 1, 'e': 1, 'a': 1, 't': 1, 'y': 1, 'o': 1}

17. Write a Python program to get the top three items in a shop.
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Expected Output:
item4 55
item1 45.5
item3 41.3

In [20]:
allItemsDict =  {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

sortedByDescByPrice = sorted(allItemsDict.items(),key=lambda x:x[1],reverse=True)

topItemsDict = dict(sortedByDescByPrice[:3])
print(topItemsDict)

{'item4': 55, 'item1': 45.5, 'item3': 41.3}